@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

body {
	margin: 0;
	margin-top: 270px;
	padding: 0;
	background: url(image.jpg), url(logobg.png), url(imagebg.jpg);
	background-size: 600px, 165px, 165px;
	min-height: 10%, 10%, 10%;
	background-position: center top, left, right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-attachment: scroll, fixed, fixed;
	font-family: sans-serif;
  }

.container{
    max-width: 1080px;
    margin: 20px auto;
    overflow: hidden;
    padding: 10px;
}

.footer{
    clear: both;
    border: 2px;
    padding: 10px;
    margin: 10px;
}
    .footer a{
        color: black;
    }
        .footer a:hover{
            color: black;
		}
		
h2{
	text-align: center;
	width: auto;
}

.class{
	align-content: center;
}

p{
	text-align: center;
	width: auto;
}

h3{
	text-align: center;
	width: auto;
}

table{
	align-self: center;
	border-spacing: 15px;
	width: auto;
}

fieldset{
	border: 3%;
	margin-left: 10px;
    border-radius: 3%;
	width: auto;
	margin-bottom: auto;
}

form{
	width: 4%;
	margin-left: 325px;
	margin-right: 50px;
	margin-bottom: 25px;
	min-height: auto;
	min-width: auto;
}

@media screen and (max-width: 1080px) {
    
    .container {
        width: 100%;
	}
	
	.header {
		width: 68%;
		float: left;
	}
    .middle {
        width: 68%;
        float: left;
    }

@media screen and (max-width: 780px) {
    
    .header, 
    .footer{
        text-align: center;
    }
        
    .middle {
        width: auto;
        float: none;
    }